@font-face {
	font-family: 'Gotham Rounded Bold';
	src: url('GothamRounded-Book.otf');
}
body {
	
	font-family: Gotham Rounded Bold!important;
	margin: 0px;
}

.dropdown-menu{
	font-size: 14px !important;
	min-width: 9rem !important;
	width: 8rem !important;
}
/*--Top-header-css-Start--*/
.navbar {
	padding: 0;
}
.navbar-nav {
	z-index: 80001;
    background: #fff;
    width: 100%;
    justify-content: flex-end;
    text-align: left;
}
.navbar-brand {
	padding-top: 0;
}
.top-header {
	background: #843e71;
	padding: 2px 0px;
}
.top-header.mobile{
	display: none;
}
.menu {
	text-align: end;
}
.menu ul {
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.menu ul li {
	list-style: none;
	display: inline;
	/*margin: 0px 21px;*/
	margin-right: 22px;
}
.menu ul li a {
	color: #fff !important;
	text-decoration: none;
	font-size: 17px;
}
.pes {
	padding-right: 10px;
}
.social-icon ul {
	margin: 0px;
	padding: 0px;
}
.social-icon ul li {
	list-style: none;
	display: inline;
	margin: 0px 7px;
}
.social-icon ul li a {
	color: #fff;
	font-size: 22px;
}
.social-icon {
	text-align: end;
}
/*--Top-header-css-End--*/

/*---Main-Header---start-css--*/

.main-header {
    padding: 0px 0px;
    max-height: 50px;
}
.logo img {
	width: 85% !important;
}
.main-menu {
	text-align: end;
}
.main-menu ul {
	margin: 0px;
	padding: 0px;
}
.main-menu ul li {
	list-style: none;
	display: inline;
}
.main-menu ul li a {
	color: #843d71;
	font-size: 14px;
	text-decoration: none;
	padding: 15px 28px;
	font-weight: bold;
	transition: 0.5s;
}
.main-menu ul li a.active {
	background: #843d71;
	transition: 0.5s;
	color: #fff;
}
.main-menu ul li a:hover {
	color: #fff;
	
	
	font-weight: bold;
	background: #843d71;
}
/*---Main-Header---end-css---*/

/*---About---Start-css---*/

.about {
	background: #843d71;
	/*padding: 40px 0px;*/
	padding-top: 30px;
	margin-top: 50px;
}
.About-font h2 {
	color: #fff;
	font-size: 40px;
}
.card-header h5 button{
	text-align: left!important;
}
/*.col-md-8.About-font h2::after {
	content: "";
	width: 99%;
	display: block;
	background: #ffff;
	height: 3px;
	margin-top: 10px;
}*/
.About-font p {
	color: #fff;
	text-align: justify;
	font-weight: 500;
	font-size: 17px;
	/*line-height: 35px;*/
	margin-top: 25px;
}
.About-i {
	text-align: center;
}
.About-i img {
	width: 86%;
}
/*---About---end-css---*/

/*---Our-gola--css-start--*/

.our-goal {
	padding: 30px 0px;
	padding-bottom: 0px;
}
.gola-font h2 {
	font-size: 40px;
	color: #843d71;
	font-weight: bold;
}
.gola-font p {
	color: #843d71;
	font-size: 18px;
	font-weight: 700;
	/*margin-top: 30px;*/
}
/*.gola-font h2::after {
	content: "";
	width: 22%;
	display: block;
	background: #843d71;
	height: 3px;
	margin-top: 10px;
}*/
.About-2 img {
	width: 86%;
}
.About-2 {
	text-align: center;
}
/*---Our-gola--css-End--*/

/*--accunting--css-start--*/

.account {
	background: url(../img/docetr.jpg) !important;
	background-repeat: no-repeat;
	padding: 40px 0px;
}
.icon-color {
	/*background: #843d71;*/
	color: #fff;
	padding: 42px 18px;
	text-align: center;
}
.style {
	font-size: 45px !important;
}
.bold {
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 0px!important;
}
.fdc {
	font-size: 15px;
	font-weight: 700;
}
/*--accunting--css-end--*/

/*--footer--css-start--*/

.footer {
	padding: 50px;
}
.footer ul{
    padding-left: 0;
}
.call-us ul li,
.archives ul li,
.follow-us ul li {
	list-style: none;
	cursor: pointer;
}
.call-us ul li a {
	transition: all 0.5s;
}
.call-us ul li a:hover {
	text-decoration: none;
	color: #000;
}
.follow-us ul li {
	display: inline;
	float: left;
	background: #843d71;
	font-size: 20px;
	color: #fff;
}
i.fa.fa-facebook {
	padding: 5px 9px;
}
i.fa.fa-youtube-play {
	padding: 5px 4px;
}
.visitors {
	background: #843d71;
}
.visitors.rounded {
    border-radius: 25px !important;
}
/*--footer--css-end--*/

/*--page-13--css-start--*/

.color-default {
	color: #843d71 !important;
}
.bg-default {
	background: #843d71 !important;
}
.appointment {
	background: #843d71;
	padding: 100px 0px;
}
.form {
	margin: 100px 0px;
}
.cancel {
	border: 1px solid #843d71 !important;
	transition: all 0.5s !important;
}
.form:hover .cancel {
	background: #843d71;
	color: #fff !important;
}
.book-after:after {
	content: '';
	position: absolute;
	height: 3px;
	width: 19%;
	left: 33.9px;
	top: 60px;
	background: #843d71;
	transition: all 01s !important;
}
.form:hover .book-after:after {
	width: 71.5%;
}
.contact-us {
	padding: 30px 0px;
}
form.contact-form {
	width: 100%;
}
.contact-form input,
.contact-form textarea,
.contact-form button {
	border: 1px solid #843d71;
}
.contact-form button {
	background: #843d71;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
	color: #843d71;
}
.contact-after:after {
	content: '';
	position: absolute;
	height: 3px;
	width: 0%;
	left: 43.35%;
	top: 35px;
	background: white;
	transition: all 01s !important;
}
input::placeholder {
	color: #843d71 !important;
}
.contact-us:hover .contact-after:after {
	width: 75.5%;
	height: 3px;
	width: 13.5%;
}
/*--page-13--css-end--*/

/*--page-15--css-start--*/

/*--page-15--css-end--*/

/*--page-1 17 18--css-start--*/

.color-yellow {
	color: #FFF500 !important;
}
.color-white {
	color: #fff !important;
}
.btn-readmore {
	background-color: #fff !important;
	border-radius: 5px !important;
}
.select-var-font h2 {
	color: #fff;
	font-size: 32px;
	margin-bottom: 15px;
}
.select-var-font h2 u,
.select-var-font h6 u {
	margin-bottom: 2px;
	padding-bottom: 2px;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}
.select-var-font h6 {
	color: #fff;
	margin-bottom: 15px;
}
.btn-find-now {
	background-color: #fff !important;
	border-radius: 50px !important;
	width: 100%;
}
.select-var-form {
	/*width: 90%;*/
}
.find-dentist {
	background: #843d71;
	/*padding: 40px 0px;*/
	padding-top: 30px;
	margin-top: 0px !important;
	padding-bottom: 80px;
}
.find-dentist-text {
	margin-top: 10px;
}
.show-dentist-text {
	margin-top: 20px;
}
.select-var-form .color-default {
	color: #fff !important;
	background-color: #843d71 !important;
}
.select-var-form .color-default::placeholder {
	color: #fff !important;
}
.account-background {
	background: url(../img/doctor-steth.jpg), #BABABA !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	padding: 90px 0px;
}
.qualification-list {
	margin: 0px !important;
	padding: 0px 0px 0px 20px;
}
.doctor-details {
	border: 2px solid #f5f5f5;
	border-radius: 15px;
	padding: 20px 10px;
	margin-top: 20px;
}
.modal-header .close{
	padding: 0 !important;
	position: absolute;
	right: 15px;
	top: 15px;
}

.doctor-details h5 {
	border-radius: 15px;
	padding-left: 20px !important;
}
.doctor-details .qualification-list {
	font-size: 16px !important;
	margin: 0px 0px 15px 0px !important;
	padding: 0px 0px 0px 30px;
}
.doctor-text{
	font-size: 16px;
	margin-left: 20px;
}
.doctor-details .btn {
	border-radius: 15px !important;
}
.btn-register-free {
	font-size: 14px !important;
	display: inline-block;
	text-align: right;
	line-height: 1.2;
	margin-right: 10px;
}
.btn-register-free span {
	font-size: 12px !important;
}
.navbar-brand {
    text-align: left;
    width: 200px;
    margin-right: 0px!important;
}

.main-menu .navbar-nav a {
	color: #843d71 !important;
	font-weight: 700;
}


    .main-menu .navbar-nav a.active {
        background: #843d71;
        transition: 0.5s;
        color: #fff !important;
    }

    .main-menu .navbar-nav a:hover {
        color: #fff !important;
        text-decoration: none;
		background: #843d71;
		transition: 0.5s;
    }
/*--page-1 17 18--css-end--*/

/*--modal--css-start--*/

.modal-header .close {
	color: #fff !important;
}
.register-modal .modal-header {
	border-bottom: none !important;
}
.register-modal .modal-title {
	margin-top: 35px;
	border-radius: 15px;
}
.register-modal .modal-body {
	/*padding-top: 130px;
	height: 320px;*/
}
.register-modal .modal-select {
	background-color: #843d71 !important;
	color: #fff !important;
	border-radius: 15px;
}
.register-modal .modal-body .form-group {
	width: 80%;
	margin: 0 auto;
}
.edit-info-modal .modal-body h5,
.register-modal .modal-body h5 {
	border-radius: 15px;
	text-align: left;
	height: 38px;
	line-height: 1.6;
	padding-left: 20px;
}
/*--modal--css-end--*/

.edit-info-modal .modal-dialog {
	max-width: 765px !important;
}
.edit-info-modal .modal-content {
	width: 765px !important;
	padding: 10px 30px !important;
}
.edit-info-modal .modal-header {
	border-bottom: none !important;
}
.edit-info-modal .modal-title {
	margin-top: 35px;
	border-radius: 15px;
}
.border-right2 {
	border-right: 2px solid #fff;
}
.row-position-relative {
	position: relative !important;
}
.view-cert {
	padding: 3px 10px;
	border-radius: 8px;
	position: absolute;
	top: 4px;
	right: 10px;
}
.btn-add-img {
    border-radius: 50% !important;
    background-color: #fff !important;
    font-size: 16px !important;
    width: 100px;
    margin: 0 auto;
    float: none !important;
    text-align: center !important;
    height: 100px;
}
.btn-sub-modal {
	background: #fff !important;
	/*width: 250px;*/
	border-radius: 70px !important;
}
/*--modal--css-end--*/


@media only screen and (min-width: 320px) and (max-width: 991px) {
    .navbar-brand {
        text-align: left !important;
        width: 200px !important;
    }
    .main-menu .navbar {
        background-color: #fff !important;
    }

        .main-menu .navbar .btn-register-free {
            /*text-align: right !important;*/
        }

        .main-menu .navbar .nav-item {
            padding-right: 10px !important;
		}
		.dropdown.show{
			z-index: 8001;
		}

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.footer .follow-us {
		margin-bottom: 10px !important;
	}
	.edit-info-modal .modal-content {
		width: 100% !important;
	}
	.edit-info-modal .modal-content .border-right2 {
		border-right: none !important;
	}
	.edit-info-modal .modal-content .small-inputs {
		margin: 0px !important;
	}
	.edit-info-modal .modal-content .small-inputs input {
		margin-bottom: 10px;
	}
	.top-header.desktop{
		display: none;
	}
	.top-header.mobile{
		display: block;
	}
	.top-header.mobile .menu{
		text-align: left;

	}
	.top-header.mobile .menu a{
		color: #fff !important;
	    text-decoration: none;
	    font-size: 15px;
	}
	.top-header.mobile .social-icon .number a {
		color: #fff !important;
    text-decoration: none;
	font-size: 15px;
	float: left;
	}
	.account-background .col-md-3{
		margin-bottom: 15px;
	}
	.w-40 {
		width: 100%;
	}
	.doctorbutton {
		position: absolute;
	}
	.doctorbutton .btn {
		display: block;
	}
	/* STYLES GO HERE */
}
@media (max-width: 768px){
	.doctorbutton {
		position: relative;
	}
}

@media (min-width: 768px) and (max-width: 1200px){
	.bold{
		font-size: 15px;
	}
	.fdc{
		font-size: 15px;
	}
}

@media only screen and (max-width: 1200px) {
	.navbar-collapse{
		font-size: 12px;
	}
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-icon ul {
     margin-right: 2%; 
}
#dropdownMenuButton {
	position: absolute;
    height: 55px;
    width: 61px;
    border-radius: 50%;
	padding: 2px;
	box-shadow: none;

}
.w-40 {
	width: 40%;
}
}